/*=========== general=====================*/


body,html{
    font-family: 'Inter', sans-serif;
    overflow-x:hidden; 
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    line-height: normal;
}
img{
    max-width: 100%;
}
.btn.finbtn{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 12px 20px;
    background: #059C69;
    border-radius: 16px;
    border-color: #059C69;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.btn.finbtn:hover{
    color: #059C69;
    background: #fff;
}
.btn.finbtn:focus{
  outline: none;
}
.for-mb{
    display: none !important;
}
section.meetleteGen {
    padding: 100px 0;
}
body .breadcrumb {
  padding: 40px 0px 25px;
  background: #fff;
  margin: 0;
  clear: both;
}
body .breadcrumb a {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #404040;
}
h3.titlesection{
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #404040;
  padding: 0 15px;
  margin-bottom: 20px;
}
.section{
    padding: 90px 0;
}
/*===========nav style=====================*/
.top-bar {
    background: #FFFFFF;
    box-shadow: 0px -7px 133px rgba(102, 102, 102, 0.09), 0px -2.1103px 40.0956px rgba(102, 102, 102, 0.058643), 0px -0.876509px 16.6537px rgba(102, 102, 102, 0.045), 0px -0.317016px 6.0233px rgba(102, 102, 102, 0.031357);
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 15px 0 18px;
}
.top-bar .logo {
    float: left;
    z-index: 99;
    position: relative;
    margin-right: 40px;
}
.top-bar .topnavbar {
    float: left;
}
nav.mynav {
    background: transparent;
    border: medium none;
    border-radius: 0;
    min-height: auto;
    margin: 0;
}
nav.mynav ul.navbar-nav li a {
    border-radius:0;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #404040;
    outline: none;
    border:  none;
    padding: 0 24px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.top-bar.top-nav-fixed nav.mynav ul.navbar-nav li a {
    color: #404040;
}
nav.mynav ul.navbar-nav li{
    margin-right: 5px;
}
nav.mynav  ul.navbar-nav{
    width: 100%;
    padding:8px 0 0 0; 
}

nav.mynav ul.navbar-nav li a i {
    margin-left: 8px;
}
nav.mynav  ul.navbar-nav > .active > a, nav.mynav  ul.navbar-nav > .active > a:hover, nav.mynav  ul.navbar-nav li a:focus,nav.mynav  ul.navbar-nav > .active > a:focus,nav.mynav  ul.navbar-nav li a:hover{
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #059C69;
    outline: none;
    border:  none;
}
nav.mynav  ul.navbar-nav .current-menu-item a{
    background: transparent;
    color: #000;
    outline: none;
    border:  none;
}
nav.mynav .navbar-collapse {
    padding: 0;
}
.top-bar.top-nav-fixed {
    background: rgb(255, 255, 255,1);
    z-index: 9;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
}
nav.mynav ul.navbar-nav li a .glyphicon {
    font-size: 60%;
    font-weight: normal;
}
nav.mynav ul.childmenu {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 200px;
    list-style-type: none;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    top: 100%;
    display: none;
    box-shadow: 0 0 5px #eee;
}
nav.mynav ul.navbar-nav li .childmenu li {
    margin: 0;
}
nav.mynav ul.navbar-nav li .childmenu li a {
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    display: block;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 1px solid #eee;
}
nav.mynav ul.navbar-nav li .childmenu li a:hover{
    background: #F2F2F2;
}
nav.mynav ul.navbar-nav li:hover ul.childmenu{
     display: block;
}
.top-bar .btn.finbtn{
    min-width: 139px;
    float: right;
}
.search {
  padding: 0 0 0 30px;
  width: 100%;
  height: 49px;
  background: #F0F0F0;
  border-radius: 100px;
  float: right;
  margin: 0 48px;
  position: relative;
  max-width: 520px;
}
#inputSearch {
  background: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
  line-height: 160%;
  color: #404040;
  height: 49px;
}
.iconsearch{
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
   width: 24px;
height: 26px;
display: block;
position: absolute;
left: 12px;
top: 12px;
}

/*===================== invest profile =====================*/
.slidin {
  height: 540px;
  max-width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}
.name h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  color: #404040;
}
.name span {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9A9A9A;
}
.userp .img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #059C69;
  border-radius: 100px;
  position: absolute;
  left: 0;
}
.userp {
  position: relative;
  padding-left: 90px;
  margin-bottom: 20px;
}
.tag {
  margin-top: 20px;
  display: inline-block;
}
.tag span {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #404040;
  padding: 4px 8px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #404040;
  border-radius: 8px;
  margin:5px;
  display: inline-block;
}
.summ h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #404040;
  margin-top: 25px;
}
.summ .details {
  background: #F5FBF9;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
}
.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.details ul li {
  display: inline-block;
  padding: 8px 16px;
  border-right: 1px solid #D9D9D9;
}
.details ul li:last-child{
    border: none;
}
.details h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #404040;
}
.details p{
font-weight: 700;
font-size: 14px;
line-height: 160%;
color: #9A9A9A;
}
.noted {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #059C69;
  margin-top: 10px;
}
.invest-share h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #404040;
}
.invest-share h3 span{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9A9A9A;
  float: right;
}
.invest-share .noted1{
  color: #9A9A9A;
}
.percentage {
    height: 16px;
    background: #D9D9D9;
    border-radius: 100px;
    overflow: hidden;
    width: 100%;
}
.percentage span{
  display: block;
  background: #059C69;
  height: 16px;
}
.invest-share {
  margin-top: 25px;
}
.share {
  margin-top: 50px;
}
.share .btn{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}
.share .btn.shareit {
  width: 50px;
  height: 50px;
}
.shareit{
  background-image: url('../images/share.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  transition: all ease-in-out .25s;
}
.shareit.tag{
     background-image: url('../images/tag.png');
}
.shareit.tag:hover{
     background-image: url('../images/tagac.png');
}
.shareit.share1:hover{
     background-image: url('../images/shareac.png');
}
/*====================== More about ============================*/
.more-about .thumb {
    width: 100%;
    height: 288px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 16px;
}
.more-about h4{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #000000;
}
.more-about p{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #5A5A5A;
  height: 54px;
margin: 0;
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
}

/*====================== Recent Investors ============================*/
.investorinfo {
  text-align: center;
  display: inline-block;
  min-width: 160px;
  height: 242px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  padding: 20px;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}
.investorinfo.new {
  background: #F5FBF9;
}
.investorinfo.new .btn{
    margin-top: 10px;
}
.investorinfo:last-of-type{
    margin-right: 0;
}
.investorinfo .profileImg {
  width: 64px;
  height: 64px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  display: inline-block;
}
.investorinfo .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #404040;
}
.investorinfo .desig {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #5A5A5A;
}
.investorinfo .investPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #059C69;
}
.investorinfo .timecount {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5A5A5A;
}
.seeall {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #059C69;
  float: right;
  padding-right: 30px;
  padding-bottom: 15px;
}
.seeall:hover{
    color: #059C69;
}
/*===========================BLC “What If” Calculator=====================*/
.section.Calculator {
  background: #E2F6F1;
}
.section.Calculator p{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #5A5A5A;
}
.section.Calculator h3.titlesection{
    padding: 0;
}
.result {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
}
.result .invest.result-col{
  border-right: 2px solid #D9D9D9;
  padding: 0 15px 0 0;
}
.Earnings.result-col {
  padding-left: 15px;
}
.result-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.result-col {
  display: inline-block;
  vertical-align: top;
  min-width:200px ;
}
.result-col ul li {
    margin-bottom: 20px;
}
.result-col ul li span{
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #9A9A9A;
}
.result-col ul li p{
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #404040;
}
.result h3{
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #404040;
  margin-bottom: 20px;
}
.calculateit label{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #404040;
  display: block;
}
.calculateit input {
  padding: 12px 16px 12px 30px;
  max-width: 284px;
  height: 53px;
  background-color: #FFF;
  border: 1px solid #9A9A9A;
  border-radius: 12px;
  width: 100%;
  text-align: right;
  background-image: url('../images/dollar.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: auto;
}
.calculateit input:focus{
  border-color: #059C69;
  outline: none;
}
.calculateit input.error{
  border-color: #d06868;
}
.section.Calculator p.errorp{
  display: none;
  color: #e34e4e;
  font-size: 14px;
}
.section.Calculator .calculateit input.error+p{
  display: block;
}
.calcbtn {
  padding-top: 40px;
}
.calcbtn .btn{
  font-size: 24px;
}
.calcbtn .btn:hover{
  background: #059C69;
  color: #fff;
  opacity: 0.9;
}
.calculateit {
  padding-top: 24px;
}
.disclaimer{
  padding-top: 64px;
}
/*=========== footer v1 =========== */
section.footerNew {
    padding: 64px 0;
    background: #F0F0F0;
}
section.footerNew h4,.teaminNew h4{
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    color: #404040;
    margin-bottom: 8px;
}
section.footerNew p,section.footerNew address{
    text-align: left
}
section.footerNew ul{
    padding: 0;
}
section.footerNew ul li{
    display: inline-block;
}
section.footerNew ul li a{
    font-weight: bold;
    font-size: 18px;
    line-height:29px;
    color: #404040;
    display: block;
    padding: 10px 10px 10px 0;
}
.ftCol {
    margin-bottom: 60px;
}
.socialBot{
    text-align: right;
}
.socialBot a {
    display: inline-block;
    padding: 0 10px;
}
.socialBot a:last-child {
    display: inline-block;
    padding: 0 0 0 10px;
}

/*============== Media queries ==================*/

@media screen and (max-width: 767px) {
  body .swiper{
    overflow: visible;
  }
  .userp{
    padding-top: 40px;
  }
  .tag span,.details p,.details h4 {
    font-size: 10px;
  }
  .details ul li {
    padding: 8px 10px;
    width: 16%;
    text-align: center;
  }
  .name h1 {
    font-size: 28px;
  }
  .name span,.invest-share h3 span,.more-about p,
  .section.Calculator p{
    font-size: 14px;
  }
  .invest-share h3,.more-about h4{
    font-size: 18px;
  }
  .share .btn{
    margin: 0 5px 0 0;
  }
  h3.titlesection {
  font-size: 24px;
  }
.seeall{
  padding-left: 15px;
  float: left;
  font-size: 18px;
}
.Investors-profiles{
  display: flex;
  overflow: auto;
}
.investorinfo{
  flex-shrink: 0;
}
.section {
  padding: 40px 0;
}
.calculateit label {
  font-size: 12px;
}
.calcbtn {
  padding-bottom: 40px;
}
.result-col{
  min-width: auto;
}
.socialBot {
  text-align: left;
}
.top-bar .btn.finbtn{
  display: none;
}
.search{
  margin: 20px 0 0;
}
.top-bar .topnavbar {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9;
}
nav.mynav .navbar-collapse {
  padding: 10px 0 50px;
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 10px 30px 10px #e7e7e7;
}
nav.mynav ul.navbar-nav li a{
  padding: 10px 30px;
  border-bottom: 1px solid  #e7e7e7;
}
nav.mynav ul.navbar-nav li {
  margin-right: 0;
}
nav.mynav ul.navbar-nav {
  padding: 0;
  margin: 0;
}
.section.Calculator p.errorp{
  font-size: 12px;
}

}