body,html{
    font-family: 'Plus Jakarta Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden; 
    scroll-behavior: smooth;
    color: #1E1E1E;
    background: #1E1E1E;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 0 15px 0;
  line-height: normal;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a{
    color: #44A647;
}
a:hover{
    color: #44A647;
    text-decoration: underline;
}

section.topBar {
    background: #44A647;
    padding: 12px 15px;
    text-align: center;
}
.topLink a {
    color: #FAFAFA;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 8px;
    position: relative;
    display: inline-block;
    text-decoration-line: underline;
}
.topLink a:hover{
    color: #fff;
}
span.sm-circle {
    width: 10px;
    height: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
}
body h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
body h2{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}
body h3{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
body h4{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 37.8px */
}
body p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.btn svg {
    display: inline-block;
    vertical-align: middle;
}
.incredible svg{
    height: 48px;
    width: auto;
}
/*===========nav style=====================*/
.top-bar {
    background: #262626;
    box-shadow: none;
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 12px 9px;
    transition: all ease-in-out 0.25s;
}
.top-bar .logo {
    float: left;
    z-index: 99;
    position: relative;
    margin-right: 40px;
}
.top-bar .topnavbar {
    float: right;
}
section.top-bar.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
nav.mynav {
    background: transparent;
    border: medium none;
    border-radius: 0;
    min-height: auto;
    margin: 0;
}
nav.mynav ul.navbar-nav li a {
    border-radius:0;
    background: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    outline: none;
    border:  none;
    padding: 0 24px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.top-bar.top-nav-fixed nav.mynav ul.navbar-nav li a {
    color: #404040;
}
nav.mynav ul.navbar-nav li{
    margin-right: 5px;
}
nav.mynav  ul.navbar-nav{
    width: 100%;
    padding:10px 0 0 0; 
}

nav.mynav ul.navbar-nav li a i {
    margin-left: 8px;
}
nav.mynav  ul.navbar-nav > .active > a, 
nav.mynav  ul.navbar-nav > .active > a:hover, 
nav.mynav  ul.navbar-nav li a:focus,nav.mynav  ul.navbar-nav > .active > a:focus,
nav.mynav  ul.navbar-nav li a:hover{
    background: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #44A647;
    outline: none;
    border:  none;
}
nav.mynav  ul.navbar-nav .current-menu-item a{
    background: transparent;
    color: #000;
    outline: none;
    border:  none;
}
nav.mynav .navbar-collapse {
    padding: 0;
}
.top-bar.top-nav-fixed {
    background: rgb(255, 255, 255,1);
    z-index: 9;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
}
nav.mynav ul.navbar-nav li a .glyphicon {
    font-size: 60%;
    font-weight: normal;
}
nav.mynav ul.childmenu {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 200px;
    list-style-type: none;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    top: 100%;
    display: none;
    box-shadow: 0 0 5px #eee;
}
nav.mynav ul.navbar-nav li .childmenu li {
    margin: 0;
}
nav.mynav ul.navbar-nav li .childmenu li a {
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    display: block;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 1px solid #eee;
}
nav.mynav ul.navbar-nav li .childmenu li a:hover{
    background: #F2F2F2;
}
nav.mynav ul.navbar-nav li:hover ul.childmenu{
     display: block;
}

body .btn,
body .btn-default,
body .btn.btn-primary, 
body .btn-group-lg > .btn {
    border: none;
    border-radius: 16px !important;
    color: var(--colors, #FAFAFA);
    font-size: 24px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 16px 24px !important;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
body .btn.btn-default {
    background: var(--colors-primary, #44A647);
}
body .btn.btn-default:hover,
body .btn.btn-default:focus {
    color: var(--colors, #FAFAFA);
    background: var(--Colors-Primary-700, #2B6A2D);
}
body .btn.btn-primary {
    border: 1.6px solid var(--border, #44A647);
    background: transparent;
}
body .btn.btn-primary:hover,
body .btn.btn-primary:focus {
    border: 1.6px solid var(--border, #44A647);
    color: var(--colors, #FAFAFA);
    background: rgba(43, 106, 45, 0.48);
}
img{
    max-width: 100%;
}
section.Hero {
    background-color: #1E1E1E;
}
section.Hero {
    background-image: url(../images/home-v4/circleBg.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 700px;
}
.heroText{
    padding: 90px;
}

section.Hero h1{
    color: var(--colors, #FAFAFA);
}
section.Hero p {
    color: var(--colors-secondary, #E7E5E4);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
section.Hero .btn-group-lg {
    margin-top: 100px;
    margin-bottom: 30px;
}
section.Hero .learMore{
    color: #E7E5E4;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
section.Diagram {
    background-image: url(../images/home-v4/dotbg.svg);
    padding: 90px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #fafafa;
}
section.swiperSlider {
    padding-bottom: 90px;
    background-color: #fafafa;
}
section.swiperSlider .swiper{
    overflow: visible;
    padding-top: 50px;
}
.sliderRow {
    padding-top: 0;
}
.diagramRow{
    padding-bottom: 90px;
}
.swiperControls{
    margin-top: -45px;
    text-align: right;
}
section.Diagram .swiper-button-prev:after, 
section.Diagram .swiper-rtl .swiper-button-next:after {
    content: none;
}
section.Diagram .swiper-button-next:after, 
section.Diagram .swiper-rtl .swiper-button-prev:after {
    content: none;
}
section.Diagram .swiper-button-next, 
section.Diagram .swiper-button-prev {
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    top: auto;
    margin-left: 25px;
}
.slidin {
    border-radius: 12px;
    background: var(--colors-neutral-200, #E5E5E5);
    width: 423.994px;
    overflow: hidden;
}
.content {
    padding: 24px;
}
.imagePlayer {
    width: 100%;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content .badge{
    color: #525252;
    border-radius: 8px;
    background: #D4D4D4;
    padding: 4px 8px;
    text-transform: uppercase;
}
body .container-fluid {
    max-width:1600px;
}
section{
    clear: both;
}
/* Discover */
section.Discover {
    background: #1E1E1E;
    padding: 150px 0;
}
section.Discover .disc {
    border-radius: 12px;
    border: 1px solid #404040;
    background-color: #1E1E1E;
    position: relative;
    min-height: 460px;
    overflow: hidden;
    margin-top: 45px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    height: 465px;
}
.textDisc {
    padding: 64px;
    max-width: 550px;
    flex: 45%;
}
div#iphone2 {
   padding:10px;
   flex: 50%;
}
div#iphone1 {
    padding:10px;
    flex: 50%;
}
.bgDisc {
    position: relative;
    flex: 55%;
    display: flex;
    justify-content: space-around;
}
.disc h4{
    color:#FAFAFA;
}
.disc p{
    color:#E7E5E4;
}

/* #iphone2 {
    position: absolute;
    right: 0;
    top: -110px;
    height: 100%;
    width: 290px;
} */

/* Features */
div#Features {
    margin-top: 150px;
}
.features {
    border-radius: 12px;
    border: 1px solid  #404040;
    background: #262626;
    padding: 24px;
    margin-bottom: 24px;
    margin-left: -5px;
    margin-right: -5px;
}
.features h4,.features p{
    font-size: 18px;
}
.features h4{
    margin-top: 40px;
    margin-bottom: 10px;
    color: #FAFAFA;
}
.features p {
    color: #E7E5E4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
/* Interested */
section.Interested {
    padding: 90px 0;
    background: #317836;
}
.Interested h2,.Interested p{
    color: #fff;
}
form#deckForm input {
    border-radius: 8px;
    border: 1px solid  #737373;
    background: #FAFAFA;
    width: 100%;
    padding: 16px 24px;
    color:  #737373;
    font-family: 'Inter' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 15px;
}
button#btn-Deck {
    background:  #262626;
    color: #FAFAFA;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 10px;
}
/* Team */
section.Team {
    padding: 90px 0;
    background: #fff;
}
.team-member{
    text-align: center;
}
.teamText {
    text-align: center;
    padding-bottom: 80px;
}
.team-member .member {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 282px;
}
.team-member img {
    margin-bottom: 20px;
    width: 96px;
    height: 96px;
    border-radius: 96px;
}
.team-member h4 {
    font-size: 24px;
    color: #1E1E1E;
}
.team-member p {
    font-size: 18px;
    color:#262626;
}
.legal-title{
    text-align: center;
    margin: 40px 0;
}
section.FAQ {
    background: #1e1e1e;
    padding: 150px 0;
}
section.FAQ div#MTaccordion {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 40px;
}
section.FAQ h2{
    color: #fff;
    margin-bottom: 40px;
}
section.FAQ h4.panel-title {
    color: #525252;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    position: relative;
}
section.FAQ .panel-body p {
    color: #FAFAFA;
    font-size: 18px;
}
section.FAQ  .panel-default > .panel-heading {
    color: #525252;
    background: #1e1e1e;
    border: none;
    border-radius: 0;
    padding: 18px 24px;
    /* border-bottom: 1px solid #525252; */
}
section.FAQ .panel-default.active > .panel-heading {
    background: #262626;
    /* border-bottom: 1px solid #262626; */
}

section.FAQ .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color:#1e1e1e;
}
section.FAQ .panel-default.panel{
    border-bottom: 1px solid #525252;
    margin: 0;
}
section.FAQ .panel-default.panel.active:first-of-type {
    border-top: 1px solid #525252;
}
section.FAQ .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background: #262626;
    padding: 28px 24px;
    padding-left: 70px;

}
section.FAQ h4.panel-title a{
    color: #93C98F;
    display: block;
    padding-left: 48px;
}
section.FAQ h4.panel-title a.collapsed{
    color: #525252;
}
h4.panel-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url(../images/home-v4/add.svg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.panel.active h4.panel-title::after {
    background-image: url(../images/home-v4/remove.svg);
}
/* Join us on this incredible journey */
section.incredible {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
section.incredible::after{
    position: absolute;
    content: '';
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #1E1E1E 1.74%, rgba(30, 30, 30, 0.00) 50.23%, #1E1E1E 97.75%);
}
section.incredible .btn{
    position: relative;
    z-index: 9;
}
/* Footer */
section.footerNew {
    background: #262626;
    padding: 64px 0;
}
section.footerNew p,
section.footerNew address{
    text-align: left
}
section.footerNew ul {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
span.finlete-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}
section.footerNew ul li{
    display: inline-block;
}
section.footerNew ul li a,
section.footerNew address {
    font-weight: bold;
    font-size: 18px;
    line-height:29px;
    color: #FAFAFA;
    display: block;
    padding: 10px 20px 10px 0;
}
section.footerNew ul li a:hover{
  color: #388B3E;
}
section.footerNew address {
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
}
body .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 8px;
    background-color: #317836;
    margin-left: 24px;
    background-image: url(../images/home-v4/Socmed-icons.svg);
}
body .icon:hover{
    background-color: #44A647;
    opacity: 0.9;
}

body .socialBot {
    padding-top: 50px;
    text-align: right;
}
.icon.ins-icn {
    background-position: 0 0;
}
.icon.tw-icn {
    background-position: -64px 0px;
}
.icon.yt-icn {
    background-position: -128px 0;
}
.icon.lkn-icn{
    background-position: -192px 0;
}
.icon.fb-icn{
    background-position: -256px 0;
}
.icon.dsc-icn{
    background-position:-320px 0;
}
/* Calendly widget*/
.Calendlywidget {
    border-radius: 16px;
    background: #F5F5F5;
    overflow: hidden;
    padding: 45px;
}
.calendly-inline-widget {
    height: 500px;
    max-width: 380px;
    width: 100%;
    overflow-y: hidden;
    display: inline-block;
    margin-left: 40px;
}
.profileRob {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.Calendlywidget  .ownerRob {
    color: #1E1E1E;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.Calendlywidget .brandName {
    color:#3B82F6;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}
.Calendlywidget  .timeCall {
    color:  #737373;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.timeCall svg{
    vertical-align: middle;
}
/* FAQ page */
section.FaqHero {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlayBanner {
    opacity: 0.8;
    background: var(--colors-neutral-200, #262626);
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
section.FaqHero h1 {
    color: #FAFAFA;
}
section.FaqHero .heroText{
    z-index: 1;
}
section.optionsFaq {
    background: #1E1E1E;
    padding: 90px 0 40px;
}
section.optionsFaq div.MTaccordion {
    max-width: 100% !important;
    padding-top: 40px;
}
.tab-content > .tab-pane {
    color: #fafafa;
}
section.optionsFaq .nav-tabs > li {
    width: 33.33%;
}
section.optionsFaq  .nav-tabs {
    overflow: hidden;
    background: #D9D9D9;
    border-bottom: none;
    border-radius: 16px;
}
section.optionsFaq  .nav-tabs > li > a {
    margin: 0;
    border: none;
    border-radius: 0;
    color: #9A9A9A;
    padding: 16px 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
}
section.optionsFaq  .nav-tabs > li.active > a, 
section.optionsFaq  .nav-tabs > li.active > a:hover, 
section.optionsFaq  .nav-tabs > li.active > a:focus {
    color: #fafafa;
    cursor: default;
    background-color: #44A647;
    border: none;
}
section.faqCta {
    background: #1E1E1E;
    padding-bottom: 90px;
}
.coverCta {
    border-radius: 24px;
    background: #262626;
    color: #fff;
    padding: 64px;
    text-align: center;
    margin-top: 45px;
}
.coverCta .btn{
    margin-top: 30px;
}
/* Players page */
section.detailPlayer {
    background: #1E1E1E;
    padding: 64px 0;
}
h3.player-title {
    color: #FFF;
}
.badge-wrap .badge {
    background: #404040;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-top: 8px;
    color: #FAFAFA;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
div#Playerslide {
    padding-top: 35px;
}
div#Playerslide .carousel-inner {
    border-radius: 8px;
    overflow: hidden;
}
div#Playerslide .item img {
    width: 100%;
    border-radius: 8px;
}
.overlaySlide {
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.00) 0%, rgba(30, 30, 30, 0.80) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 12px;
    opacity: 0.3;
    margin: 0 2px;
}
.carousel-indicators li.active{
    opacity: 1;
}
.content-slider {
    color: #fff;
    padding: 32px 0;
    font-size: 18px;
}
.content-slider p{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Inter',sans-serif;
}

.leftPlayer h4 {
    color: #fff;
    font-weight: 400;
    font-size: 36px;
}
.strip-detail {
    border-radius: 8px;
    background: #262626;
    color: #FAFAFA;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 8px;
}
.scout {
    padding-top: 30px;
}
.cardSc {
    border-radius: 8px;
    background: #262626;
    overflow: hidden;
    margin-bottom: 24px;
}
.cardSc .image {
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sc-content {
    padding: 16px 12px;
}
.cardSc .categroy {
    overflow: hidden;
    color: #44A647;
    text-overflow: ellipsis;
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h5.sc-title {
    color: #FAFAFA;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.cardSc p {
    overflow: hidden;
    color: #E7E5E4;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
}
.rightPlayer aside {
    border-radius: 8px;
    background: var(--colors-neutral-200, #262626);
    box-shadow: 0px 14px 18.2px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 24px;
    overflow: hidden;
}
aside p {
color: #E7E5E4;
font-family: 'Inter',sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
aside p span {
    color: #FAFAFA;
    font-size: 18px;
    font-weight: 700;
}
aside h5 {
    color:  #FAFAFA;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
.percentagePlayer {
    height: 16px;
    border-radius: 69.798px;
    background: var(--primary-10, #F7FBF7);
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.perk {
    border-radius: 8.376px;
    border: 0.698px solid var(--colors-neutral-300, #404040);
    padding: 8px 12px;
    margin-bottom: 8px;
    width: 100%;
}
aside .btn {
    margin-bottom: 12px;
}
.seprator {
    height: 0.698px;
    margin: 24px -30px;
    background: #404040;
}
aside h6 {
    font-weight: 700;
}
/* Pre launch */
section.prelaunchHero {
    background-color: #1E1E1E;
    color: #fafafa;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    min-height: 100vh;
}
span.coming-title {
    color: #525252;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #525252;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #525252;
} 
form.comingsoonForm {
    padding-top: 64px;
    display: inline-block;
    width: 100%;
    position: relative;
}
section.prelaunchHero input {
    padding: 16px 24px;
    background: #fff;
    border: none;
    color: #525252;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 72px;
    margin-top: -1px;
    outline: none;
    width: 100%;
    border-radius: 16px;
}
._error-inner {
    font-size: 14px;
    padding: 10px 15px;
    color: #fb5b5b;
}
section.prelaunchHero input:focus{
    outline: none;
    border: none;
}
section.prelaunchHero input[type="submit"],
section.prelaunchHero button[type="submit"] {
    background-repeat: no-repeat;
    background-color: #44A647;
    padding: 16px 16px;
    color: #FAFAFA;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    border: none;
    line-height: 150%;
    margin-left: -4px;
    background-position: 15px center;
    height: 72px;
    margin-top: -1px;
    float: right;
    width: 100%;
    text-align: center;
    border-radius: 16px;
}
section.prelaunchHero .socialBot {
    text-align: left;
    padding-top: 160px;
}
body section.prelaunchHero .icon {
    background-image: url(../images/home-v4/Socmed-icons-white.svg);
    background-color: #262626;
    width: 50px;
    height: 50px;
}
section.prelaunchHero .icon.tw-icn {
    background-position: -78px 0px;
}
section.prelaunchHero .icon.yt-icn {
    background-position: -158px 0;
}
section.prelaunchHero .icon.lkn-icn {
    background-position: -238px 0;
}
section.prelaunchHero .icon.fb-icn {
    background-position: -320px 0;
}
section.prelaunchHero .icon.dsc-icn {
    background-position: -400px 0;
}

/* Thank you page */
section.preThankyou {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background: #1e1e1e;
    color: #fff;
}
section.preThankyou .btn {
    margin-top: 64px;
}
section.preThankyou .heroText {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
}

/* Privacy and Term page */
.terms-and-privacy header {
    background: #262626;
    padding: 13px 0;
}
.terms-and-privacy .btn-term{
    border-radius: 8px;
    border: 1px solid var(--colors-primary, #44A647);
    padding: 8px 20px;
    color: var(--colors-color-text-primary, #FAFAFA);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-decoration: none;
}
.terms-and-privacy .btn-term:hover,
.terms-and-privacy .btn-term:focus{
    background: rgba(43, 106, 45, 0.48);
}
.terms-and-privacy .btn-term svg{
    vertical-align: middle;
}
.terms-and-privacy .btn-term{
    float: right;
}
section.legal {
    padding: 90px 0;
    background-color: #1E1E1E;
}
ul.privacy-terms {
    padding: 0;
}
ul.privacy-terms a {
    color: var(--colors-neutral-300, #404040);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    border-left: 4px solid #404040;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
ul.privacy-terms a:hover{
    color: #388B3E;
}
ul.privacy-terms .active a{
    color:#FAFAFA;
    border-color: #44A647;
}
.conditions h4,.terms-and-privacy h3,.terms-and-privacy h4{
    color:#FAFAFA;
}
.conditions p,.conditions ul,.conditions li {
    color: var(--colors-color-text-secondary, #E7E5E4);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.content-right {
    border-left: 1px solid #404040;
    padding-left: 40px;
}
.terms-and-privacy h4.term-sub-title {
    color: #E7E5E4;
    font-weight: 400;
    margin-bottom: 48px;
}
.terms-and-privacy h3{
    font-weight: 500;
}
h3.term-title {
    margin: 0;
}
/* athelets 2 */
.scout2 .cardSc img {
    width: 100%;
}
.scout2 .cardSc .categroy{
    font-size: 14px;
}
.scout2 h5.sc-title{
    font-size: 24px;
}
.scout2 .cardSc p{
    font-size: 18px;
}
.athelet-avatar {
    width: 128px;
    height: 128px;
    display: block;
    border-radius: 100%;
    min-width: 128px;
    min-height: 128px;
}
.inline-athelet {
    display: flex;
    justify-content: space-around;
}
.social-player a{
    color: var(--Colors-Primary, #44A647);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.social-player {
    margin-top: 10px;
}
.social-player span {
    width: 1px;
    height: 16px;
    background: var(--Colors-Neutral-300, #404040);
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.player2 .badge-wrap {
    padding-left: 24px;
}
.player2 .badge-wrap .badge{
    font-size: 14px;
}
.player2 h3.player-title {
    margin-bottom: 0;
}
.content-slider .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: var(--Colors-Neutral-500, #737373);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
}
.content-slider .nav-tabs > li > a:hover{
    background-color: transparent;
}
.content-slider .nav-tabs > li.active > a, 
.content-slider .nav-tabs > li.active > a:hover, 
.content-slider .nav-tabs > li.active > a:focus {
    color: #FAFAFA;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 1.6px solid var(--Colors-Primary, #44A647);
}
.content-slider .nav-tabs {
    border: none;
}
.content-slider div.tab-pane {
    padding-top: 24px;
}
table {
    width: 100%;
    margin-bottom: 30px;
}
table td, table th {
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 160%;
    padding: 8px;
}
table th {
    font-weight: 700;
}
.header-row{
    background: var(--Colors-Neutral-200, #262626);
}
table tr{
    border-bottom: 1px solid var(--Colors-Neutral-300, #404040);
}
.shareinvest .panel-title{
    position: relative;
}
.shareinvest .panel-default > .panel-heading {
    color: #fafafa;
    background-color: var(--colors-neutral-200, #262626);
    border: none;
    padding: 20px 0 0;
}
.shareinvest h4.panel-title::after{
    display: none;
}
.shareinvest .panel-group .panel {
    border: none;
    box-shadow: none !important;
    background: #262626;
}
.shareinvest .panel-title > a{
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
    text-decoration: none;
}
span.perkopn {
    position: absolute;
    right: 0;
    top: 2px;
}
.shareinvest .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background: var(--colors-neutral-200, #262626);
    padding: 20px 0 0;
}
aside.shareinvest p {
    margin-bottom: 5px;
}
.sharePrice span {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}
.sharePrice p {
color: var(--Colors-Neutral-500, #737373);
font-family: 'Inter',sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 160%;
}
.priceslider-cover {
    position: relative;
    display: inline-block;
    width: 100%;
}
.ui-widget.ui-widget-content {
    border-radius: 69.798px;
    background: #CFE5C9;
    border: none;
    height: 6px;
}
body .ui-state-default, body .ui-state-focus, body .ui-widget-content .ui-state-default, body .ui-widget-content .ui-state-focus, body .ui-widget-header .ui-state-default, body .ui-widget-header .ui-state-focus, body .ui-widget-header .ui-state-hover {
    border: 2px solid #44A647 !important;
    background: #44A647 !important;
    font-weight: 400 !important;
    color: #fff !important;
    width: 16px !important;
    height: 16px !important;
    cursor: ew-resize !important;
    outline: 0 !important;
    z-index: 9;
    border-radius: 100%;
    top: -5px;
    margin-left: 0;
    transform: translate(-50%);
}
.priceslider-cover .filler ,.priceslider-cover .filler2{
    content: "";
    position: absolute;
    height: 6px;
    left: 0;
    top: 0;
    z-index: 0;
    border-radius: 22px;
    background: #44A647;
    opacity: 0.7;
}
.share-price {
    color: var(--Colors-color-text-secondary, #E7E5E4);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.list-athletes {
    display: flex;
    border-bottom: 1px solid #404040;
    padding: 24px 0;
}
.timecounter {
    display: flex;
    margin-bottom: 15px;
}
.timecounter div {
    border-radius: 8px;
    border: 1px solid var(--Colors-Neutral-300, #404040);
    padding: 8px 12px;
    text-align: center;
    margin-right: 8px;
    font-size: 8px;
    text-transform: uppercase;
    min-width: 60px;
}
.timecounter div span {
    width: 100%;
    display: block;
    font-size: 18px;
}
.img-ath {
    min-width: 90px;
}
.img-ath img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
div#WhoIn h4 {
    margin-bottom: 40px;
}
div#WhoIn .cont-ath h4 {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}
.filter-btn {
    border-radius: 8px;
    border: 1px solid var(--Colors-Neutral-300, #404040);color: #fafafa;
}
.filter-btn span:not(.downangle) {
    float: left;
    color: var(--Colors-Neutral-500, #737373);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background: #262626;
    height: 100%;
    padding: 8px 12px;
}
.Investors-col {
    text-align: right;
}
.filter-btn .dropdown-toggle {
    background: transparent !important;
    font-size: 18px !important;
    padding: 8px 12px !important;
}
/* End */

/* Echedry / Desktop page */
section.Diagram.no-bg {
    background: none;
    background: #FAFAFA;
}
body.echedry section.swiperSlider {
    background: #FAFAFA;
}
p.player-location {
    overflow: hidden;
    color: #0A0A0A;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: 160%;
}
.swiperSlider.echedry p{
    margin: 0;
}
section.footerNew.echedry ul{
    float: right;
}
section.footerNew.echedry address{
    text-align: right;
    padding: 0;
}
section.footerNew ul li a{
    padding: 10px 0px 10px 24px;
}   
.footerNew.echedry .socialBot {
    padding-top: 0px;
    text-align: left;
}
.footerNew.echedry .icon{
    margin: 0 15px 0 0;
}
.footerNew.echedry{
    padding-bottom: 200px;
}
.Dalmoreft p {
    color: #FAFAFA;
}
.seprator {
    border-top: 1px solid #404040;
    margin: 24px 0;
    display: inline-block;
    width: 100%;
}
.Dalmoreft p{
    font-size: 18px;
}
.inline-athelet.echedry .social-player {
    margin-top: 10px;
    position: absolute;
    right: 40px;
    top: 10px;
}
.inline-athelet.echedry {
    position: relative;
    background: #262626;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 64px;
    display: inline-block;
    width: 100%;
}
.inline-athelet.echedry .athelet-avatar{
    float: left;
    margin-right: 24px;
}
.echedry-table tr.data-row:hover {
    background: rgba(56, 139, 62, 0.08);
}
table.echedry-table td, table.echedry-table th{
    padding: 12px;
}
table.echedry-table tr.data-row td:first-child, 
table.echedry-table tr.header-row th:first-child {
    border-right: 2px solid #404040;
}
table.echedry-table tr.data-row td:nth-child(9), 
table.echedry-table tr.header-row th:nth-child(9),
table.echedry-table tr.data-row td:nth-child(13), 
table.echedry-table tr.header-row th:nth-child(13) {
    border-right: 2px solid #404040;
}
section.Hero.echedry .btn {
    font-size: 18px !important;
}
span.commision {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    width: 270px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
body .share-echedry .ui-state-default, body .share-echedry .ui-state-focus, body .share-echedry .ui-widget-content .ui-state-default {
    width: 70px !important;
    height: 70px !important;
    top: -18px;
    background: url(../images/echedry-page-assets/slider-nob.svg) no-repeat !important;
    border: none !important;
    background-position: center;
    background-size: auto;
    margin-left: 17px;
}
body .share-echedry  .ui-widget.ui-widget-content {
    height: 26px;
}
body .share-echedry .priceslider-cover .filler ,body .share-echedry .priceslider-cover .filler2{
    height: 26px;
    background: #388B3E;
    opacity: 1;
}
.pip-range {
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    justify-content: space-between;
}
.pip-range span {
    padding: 0px 0 20px 0;
}
.per-img {
    border-radius: 100px;
    border: 1px solid var(--Colors-Neutral-300, #404040);
    background: var(--Colors-Neutral-200, #262626);
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    position: relative;
}
.inline-perk-eche.active .per-img {
    background: var(--Colors-Neutral-300, #404040);
}
.inline-perk-eche {
    display: flex;
    align-items: center;
}
.detail-perk-eche {
    padding-left: 12px;
}
.per-img span {
    position: absolute;
    top: -15px;
}
.gift-perk.unlocked,
.inline-perk-eche.active .gift-perk{
    display: none;
}
.inline-perk-eche.active .gift-perk.unlocked {
    display: block;
}
.perk-echedry {
    border-radius: 12px;
    background: var(--Colors-Neutral-200, #262626);
    padding: 24px;
    margin-bottom: 32px;
}
.BuyShares h2 {
    margin-top: 50px;
}

.detail-perk-eche h5 {
    color: var(--Colors-Brand-color-primary, #388B3E);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #525252;
}
.detail-perk-eche p {
    font-size: 14px;
    font-family: 'Inter',sans-serif;
    color: #525252;
}
.inline-perk-eche.active h5{
    color: #388B3E;
}
.inline-perk-eche.active p{
    color: #fafafa;
}
.share-echedry .share-price {
    gap: 16px;
    padding: 32px 0 16px 0;
}
.share-echedry .share-price .price-col {
    border-radius: 12px;
    border: 1px solid var(--Colors-Neutral-300, #404040);
    background: linear-gradient(180deg, #404040 0%, #262626 100%);
    padding: 16px 24px;
    width: 33%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #E7E5E4;
    text-align: center;
}
.share-echedry .share-price .price-col.active{
border: 1px solid var(--Colors-Brand-color-primary, #388B3E);
background: linear-gradient(180deg, #44A647 0%, #2B6A2D 100%);
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    gap: 12px;
}
.stat-ratio {
    border-radius: 8px;
    border: 1px solid #404040;
    background: #262626;
    padding: 12px 16px;
    text-align: center;
    min-width: 140px;
}
.stat-ratio span {
    display: block;
    color: #FAFAFA;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
section.Hero.echedry .stat-ratio p, .stat-ratio p {
    font-size: 12px;
    font-weight: 700;
}
section.Hero.echedry .btn-group-lg {
    margin-top: 30px;
}
section.Hero.echedry .heroMedia {
    padding-top: 90px;
    padding-right: 90px;
}
.overlya-video{
    opacity: 0.48;
    background: #0C0A09;
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.video-container{
    position: relative;
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
}
.echedry-video {
    max-width: 100%;
    object-fit: cover;
box-shadow: 0px 21px 25.2px 0px rgba(30, 30, 30, 0.64);
width: 100%;
}
div.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 9;
}
div.playButton img:hover {
    scale: 1.1;
    transition: all ease 0.25s;
}
section.Hero.echedry {
    position: relative;
    overflow: hidden;
    background-image: none;
}
section.Hero p.progress-count {
    color: #FDB002;
    font-size: 18px;
}
section.Hero p.progress-count svg{
   vertical-align: middle;
}
section.Hero.echedry .bg-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.overlay-bg-video {
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.00) 0%, #1E1E1E 94.1%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div#echedry-Features {
    margin-top: 34px;
}
.stat-eche {
    padding-top: 32px;
    padding-bottom: 190px;
}
.Features-1e .features img {
    margin-bottom: 30px;
}
.features img {
    height: 60px;
    width: auto;
}
.Features-1e {
    padding-bottom: 60px;
    padding-top: 0px;
}
.discuss-wrap {
    padding: 90px 0;
    background: #1e1e1e;
}
.discuss-wrap #disqus_thread {
    background: #fff;
    border: 1px solid lightgray;
    padding: 50px;
}
section.discuss-wrap h2 {
    color: #FAFAFA;
    margin-bottom: 32px;
}
.bg-gallery {
    width: 100%;
    height: 471.979px;
    border-radius: 12px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 24px;
}
section.Playergallery {
    background: #1E1E1E;
}
.Playergallery h3{
    color:#FAFAFA;
    margin-bottom: 30px;
    margin-top:0;
}
section.Playergallery .video-container {
    margin: 0;
}
.branding-finlete {
    position: absolute;
    top: 24px;
    left: 24px;
}
.section.detailPlayer.echedry{
    padding: 64px 0 0 0;
}
section.Discover.echedry {
    padding: 60px 0 96px 0;
}
body.echedry .teamText {
    padding-bottom: 40px;
}
.time-offer-echedry {
    background: #404040;
    padding: 24px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
.time-offer-echedry .timecounter-echedry {
    border-radius: 20px;
    padding: 16px;
    background: rgba(12, 10, 9, 0.72);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.timer-eche {
    display: flex;
    gap: 12px;
    color: #FAFAFA;
}
.timer-eche div {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid  #404040;
    flex-direction: column;
    color: var(--Colors-color-text-secondary, #E7E5E4);
    /* Bold/Type@Small-text */
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
}
.timer-eche div span {
    color:  #FAFAFA;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.buyft .btn {
    padding: 16px 20px !important;
}
section.calc-share {
    background: #1E1E1E;
    padding: 90px 0;
    color: #fff;
}

.BuyShares {
    padding: 90px;
}
.BuyShares h2{
    margin-bottom: 32px;
}
.estimate00 {
    border-bottom: 1px solid var(--Colors-Neutral-300, #404040);
    display: flex;
    justify-content: space-between;
}
.estimate00 div {
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 12px 0;
}

/* Echedry / Desktop End */

@media screen and (min-width:1440px) {
    .container {
        width: 1360px;
    }
}
@media screen and (min-width:980px) {
    .btn-group-lg .btn+.btn {
        margin-left: 30px;
    }
    section.FaqHero h1 {
        font-size: 80px;
    }
    form.comingsoonForm .form-group {
        overflow: hidden;
        border-radius: 16px;
        height: 70px;   
        background: #fff;
        border: none;
    }
    div#iphone2 {
        margin-top: -212px;
    }
   /* Nav 2 style */
.top-bar.style2 .topnavbar {
    float: right;
    width: calc(100% - 220px);
}
.style2 li.dropdown,.style2 li.getstarted{
    float: right;
}
.style2 li.getstarted {
    border-left: 1px solid #404040;
}
.style2 .navbar-default .navbar-nav > .open > a, 
.style2 .navbar-default .navbar-nav > .open > a:hover, 
.style2 .navbar-default .navbar-nav > .open > a:focus {
    color: #388B3E;
    background-color: #262626;
}
.navbar-nav > li > .dropdown-menu{
    background: #262626;
    top: 40px;
    min-width: 200px;
}
li.dropdown svg {
    vertical-align: middle;
}
.style2 .navbar-default .navbar-nav > .open > a svg{
    fill: #388B3E;
}
/* End Nav 2 */
.style2 .dropdown-menu > li > a {
    padding: 8px 20px !important;
}
}

@media screen and (min-width:768px) {
    .for-mb{
        display: none !important;
    }
    body .modal-dialog{
        width: 800px;
        max-width: 100%;
    }
}
