body,html{
    font-family: 'Plus Jakarta Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden; 
    scroll-behavior: smooth;
    color: #1E1E1E;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 0 15px 0;
  line-height: normal;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a{
    color: #44A647;
}
a:hover{
    color: #44A647;
    text-decoration: underline;
}
section.topBar {
    background: #44A647;
    padding: 12px 15px;
    text-align: center;
}
.topLink a {
    color: #FAFAFA;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 8px;
    position: relative;
    display: inline-block;
    text-decoration-line: underline;
}
.topLink a:hover{
    color: #fff;
}
span.sm-circle {
    width: 10px;
    height: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
}
body h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
body h2{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}
body h4{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 37.8px */
}
body p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.btn svg {
    display: inline-block;
    vertical-align: middle;
}
/*===========nav style=====================*/
.top-bar {
    background: #262626;
    box-shadow: none;
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 12px 9px;
    transition: all ease-in-out 0.25s;
}
.top-bar .logo {
    float: left;
    z-index: 99;
    position: relative;
    margin-right: 40px;
}
.top-bar .topnavbar {
    float: right;
}
section.top-bar.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}
nav.mynav {
    background: transparent;
    border: medium none;
    border-radius: 0;
    min-height: auto;
    margin: 0;
}
nav.mynav ul.navbar-nav li a {
    border-radius:0;
    background: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    outline: none;
    border:  none;
    padding: 0 24px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.top-bar.top-nav-fixed nav.mynav ul.navbar-nav li a {
    color: #404040;
}
nav.mynav ul.navbar-nav li{
    margin-right: 5px;
}
nav.mynav  ul.navbar-nav{
    width: 100%;
    padding:10px 0 0 0; 
}

nav.mynav ul.navbar-nav li a i {
    margin-left: 8px;
}
nav.mynav  ul.navbar-nav > .active > a, 
nav.mynav  ul.navbar-nav > .active > a:hover, 
nav.mynav  ul.navbar-nav li a:focus,nav.mynav  ul.navbar-nav > .active > a:focus,
nav.mynav  ul.navbar-nav li a:hover{
    background: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #44A647;
    outline: none;
    border:  none;
}
nav.mynav  ul.navbar-nav .current-menu-item a{
    background: transparent;
    color: #000;
    outline: none;
    border:  none;
}
nav.mynav .navbar-collapse {
    padding: 0;
}
.top-bar.top-nav-fixed {
    background: rgb(255, 255, 255,1);
    z-index: 9;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
}
nav.mynav ul.navbar-nav li a .glyphicon {
    font-size: 60%;
    font-weight: normal;
}
nav.mynav ul.childmenu {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 200px;
    list-style-type: none;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    top: 100%;
    display: none;
    box-shadow: 0 0 5px #eee;
}
nav.mynav ul.navbar-nav li .childmenu li {
    margin: 0;
}
nav.mynav ul.navbar-nav li .childmenu li a {
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    display: block;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 1px solid #eee;
}
nav.mynav ul.navbar-nav li .childmenu li a:hover{
    background: #F2F2F2;
}
nav.mynav ul.navbar-nav li:hover ul.childmenu{
     display: block;
}

body .btn,
body .btn-default,
body .btn.btn-primary, 
body .btn-group-lg > .btn {
    border: none;
    border-radius: 16px !important;
    color: var(--colors, #FAFAFA);
    font-size: 24px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 16px 24px !important;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
body .btn.btn-default {
    background: var(--colors-primary, #44A647);
}
body .btn.btn-default:hover,
body .btn.btn-default:focus {
    color: var(--colors, #FAFAFA);
}
body .btn.btn-primary {
    border: 1.6px solid var(--border, #44A647);
    background: transparent;
}
body .btn.btn-primary:hover,
body .btn.btn-primary:focus {
    border: 1.6px solid var(--border, #44A647);
    color: var(--colors, #FAFAFA);
}
img{
    max-width: 100%;
}
section.Hero {
    background-color: #1E1E1E;
}
section.Hero {
    background-image: url(../images/home-v4/circleBg.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 700px;
}
.heroText{
    padding: 90px;
}

section.Hero h1{
    color: var(--colors, #FAFAFA);
}
section.Hero p {
    color: var(--colors-secondary, #E7E5E4);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
section.Hero .btn-group-lg {
    margin-top: 100px;
    margin-bottom: 30px;
}
section.Hero .learMore{
    color: #E7E5E4;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
section.Diagram {
    background-image: url(../images/home-v4/dotbg.svg);
    padding: 90px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
section.swiperSlider {
    padding-bottom: 90px;
}
section.swiperSlider .swiper{
    overflow: visible;
    padding-top: 50px;
}
.sliderRow {
    padding-top: 90px;
}
.diagramRow{
    padding-bottom: 90px;
}
.swiperControls{
    margin-top: -45px;
    text-align: right;
}
section.Diagram .swiper-button-prev:after, 
section.Diagram .swiper-rtl .swiper-button-next:after {
    content: none;
}
section.Diagram .swiper-button-next:after, 
section.Diagram .swiper-rtl .swiper-button-prev:after {
    content: none;
}
section.Diagram .swiper-button-next, 
section.Diagram .swiper-button-prev {
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    top: auto;
    margin-left: 25px;
}
.slidin {
    border-radius: 12px;
    background: var(--colors-neutral-200, #E5E5E5);
    width: 423.994px;
    overflow: hidden;
}
.content {
    padding: 24px;
}
.imagePlayer {
    width: 100%;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content .badge{
    color: #525252;
    border-radius: 8px;
    background: #D4D4D4;
    padding: 4px 8px;
    text-transform: uppercase;
}
body .container-fluid {
    max-width:1600px;
}
/* Discover */
section.Discover {
    background: #1E1E1E;
    padding: 150px 0;
}
section.Discover .disc {
    border-radius: 12px;
    border: 1px solid #404040;
    background-color: #1E1E1E;
    position: relative;
    min-height: 460px;
    overflow: hidden;
    margin-top: 45px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.textDisc {
    padding: 64px;
    max-width: 550px;
}
.bgDisc {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}
.disc h4{
    color:#FAFAFA;
}
.disc p{
    color:#E7E5E4;
}
/* Features */
div#Features {
    margin-top: 150px;
}
.features {
    border-radius: 12px;
    border: 1px solid  #404040;
    background: #262626;
    padding: 24px;
    margin-bottom: 24px;
    margin-left: -5px;
    margin-right: -5px;
}
.features h4,.features p{
    font-size: 18px;
}
.features h4{
    margin-top: 40px;
    margin-bottom: 10px;
    color: #FAFAFA;
}
.features p {
    color: #E7E5E4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
/* Interested */
section.Interested {
    padding: 90px 0;
    background: #317836;
}
.Interested h2,.Interested p{
    color: #fff;
}
form#deckForm input {
    border-radius: 8px;
    border: 1px solid  #737373;
    background: #FAFAFA;
    width: 100%;
    padding: 16px 24px;
    color:  #737373;
    font-family: 'Inter' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 15px;
}
button#btn-Deck {
    background:  #262626;
    color: #FAFAFA;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 10px;
}
/* Team */
section.Team {
    padding: 90px 0;
}
.team-member{
    text-align: center;
}
.teamText {
    text-align: center;
    padding-bottom: 80px;
}
.team-member .member {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.team-member img {
    margin-bottom: 20px;
    width: 96px;
    height: 96px;
    border-radius: 96px;
}
.team-member h4 {
    font-size: 24px;
    color: #1E1E1E;
}
.team-member p {
    font-size: 18px;
    color:#262626;
}
.legal-title{
    text-align: center;
    margin: 40px 0;
}
section.FAQ {
    background: #1e1e1e;
    padding: 150px 0;
}
section.FAQ div#MTaccordion {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 40px;
}
section.FAQ h2{
    color: #fff;
    margin-bottom: 40px;
}
section.FAQ h4.panel-title {
    color: #525252;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    position: relative;
}
section.FAQ .panel-body p {
    color: #FAFAFA;
    font-size: 18px;
}
section.FAQ  .panel-default > .panel-heading {
    color: #525252;
    background: #1e1e1e;
    border: none;
    border-radius: 0;
    padding: 18px 24px;
}
section.FAQ .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
section.FAQ .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background: #262626;
    padding: 28px 24px;
    padding-left: 70px;

}
section.FAQ h4.panel-title a{
    color: #93C98F;
    display: block;
    padding-left: 48px;
}
section.FAQ h4.panel-title a.collapsed{
    color: #525252;
}
h4.panel-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url(../images/home-v4/add.svg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.panel.active h4.panel-title::after {
    background-image: url(../images/home-v4/remove.svg);
}
/* Join us on this incredible journey */
section.incredible {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
section.incredible::after{
    position: absolute;
    content: '';
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #1E1E1E 1.74%, rgba(30, 30, 30, 0.00) 50.23%, #1E1E1E 97.75%);
}
section.incredible .btn{
    position: relative;
    z-index: 9;
}
/* Footer */
section.footerNew {
    background: #262626;
    padding: 64px 0;
}
section.footerNew p,
section.footerNew address{
    text-align: left
}
section.footerNew ul {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
span.finlete-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}
section.footerNew ul li{
    display: inline-block;
}
section.footerNew ul li a,
section.footerNew address {
    font-weight: bold;
    font-size: 18px;
    line-height:29px;
    color: #FAFAFA;
    display: block;
    padding: 10px 20px 10px 0;
}
section.footerNew ul li a:hover{
  color: #44A647;
}
section.footerNew address {
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
}
section.footerNew .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 8px;
    background-color: #317836;
    margin-left: 24px;
    background-image: url(../images/home-v4/Socmed-icons.svg);
}
section.footerNew .icon:hover{
    background-color: #44A647;
    opacity: 0.9;
}

section.footerNew .socialBot {
    padding-top: 50px;
    text-align: right;
}
.icon.ins-icn {
    background-position: 0 0;
}
.icon.tw-icn {
    background-position: -64px 0px;
}
.icon.yt-icn {
    background-position: -128px 0;
}
.icon.lkn-icn{
    background-position: -192px 0;
}
.icon.fb-icn{
    background-position: -256px 0;
}
.icon.dsc-icn{
    background-position:-320px 0;
}

@media screen and (min-width:1440px) {
    .container {
        width: 1360px;
    }
}
@media screen and (min-width:980px) {
    .btn-group-lg .btn+.btn {
        margin-left: 30px;
    }
}