.mobile-dropdown button,
.mobile-dropdown button:focus,
.mobile-dropdown button:hover {
    background: #262626;
    border-radius: 0 !important;
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-family: 'Inter',sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: block;
    width: 100%;
    text-align: left;
}
.mobile-dropdown span.downangle {
    float: right;
}
.mobile-dropdown .btn-group{
    width: 100%;
}
.mobile-dropdown  .dropdown-menu {
    width: 100%;
    border-radius: 8px;
background: var(--Colors-Neutral-200, #262626);
box-shadow: 0px 4px 16px 0px rgba(12, 10, 9, 0.24);
}
.mobile-dropdown  .dropdown-menu > li > a {
    display: block;
    clear: both;
    color: var(--Colors-color-text-primary, #FAFAFA);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 12px 20px;
    background: var(--Colors-Neutral-200, #262626);
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
    body {
        /* Common styles for the body at this screen size */
    }

    body h1 {
        font-size: 36px;
    }

    body h2 {
        font-size: 26px;
    }

    body p {
        font-size: 14px;
    }

    body .btn,
    body .btn-default,
    body .btn.btn-primary,
    body .btn-group-lg > .btn {
        padding: 12px 18px !important;
        font-size: 18px !important;
    }

    section.Hero .btn-group-lg {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .btn-group-lg .btn+.btn {
        margin-left: 10px;
    }

    body .heroText {
        padding: 40px;
    }
    section.Hero.echedry .btn{
        width: 50%;
    }
    span.commision{
        margin-left: 10%;
    }
    section.Hero.echedry .heroText {
        padding: 60px 60px 0;
    }
    section.Hero.echedry .heroMedia {
        padding: 60px;
    }
    section.Hero.echedry{
        height: auto;
    }
    .stat-ratio{
        flex:25%;
    }
    section.Playergallery {
        padding: 50px 0;
    }
    .team-member .member{
        height: 320px;
    }
}


@media screen and (max-width:767px) {
    .for-dt{
        display: none !important;
    }
    section.Diagram,.sliderRow{
        padding: 20px 0 0;
    }
    .top-bar .logo {
        margin-top: 8px;
    }
    body h1 {
        font-size: 36px;
    }
    body h2{
        font-size: 26px;
    }
    body p{
        font-size: 14px;
    }    
    nav.mynav ul.navbar-nav {
        margin: 0;
    }
     nav.mynav ul.navbar-nav {
        padding:0;
    }
    section.topBar {
        padding: 12px 0px;
    }
    section.topBar .topLink {
        padding: 0;
    }
    .topLink a {
        font-size: 12px;
        padding: 5px;
    }
    span.sm-circle {
        width: 5px;
        height: 5px;
        background: #fff;
        display: inline-block;
        border-radius: 10px;
        margin: 0;
    }
    .top-bar .topnavbar {
        float: none;
    }
    nav.mynav ul.navbar-nav li a, 
    nav.mynav ul.navbar-nav li a:hover, 
    nav.mynav ul.navbar-nav li a {
        color: #fafafa;
        font-size: 16px;
        padding: 16px 40px;
        border: none;
    }
    section.Hero .heroText {
        padding: 48px 20px;
    }
    section.Hero p{
        font-size: 18px;
    }
    body .btn, body .btn-default, body .btn.btn-primary, body .btn-group-lg > .btn {
        padding: 12px 18px !important;
        font-size: 18px !important;
        border-radius: 8px !important;
    }
    section.Hero .btn-group-lg {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .btn-group-lg .btn+.btn {
        margin-left: 10px;
    }
    .swiperControls {
        margin-top: 24px;
        text-align: right;
        padding: 20px;
    }
    section.swiperSlider .swiper {
        padding-top: 0;
    }
    .imagePlayer{
        width: 286px;
        height: 256px;
    }
    .slidin{
        width: 286px;
    }
    section.Discover .disc{
        flex-direction: column;
    }
    section.Discover {
        padding: 70px 0;
    }
    .textDisc {
        padding: 24px;
        max-width: 100%;
        padding-bottom: 80px;
    }
    .disc h4 {
        font-size: 24px;
    }
    body section.Discover .disc{
        height: auto;
        background-position: bottom;
    }
    body .textDisc,body .bgDisc{
        flex: 100%;
    }
    div#iphone1 {
        margin-top: 0;
        margin-bottom: -50px;
    }
    div#iphone2 {
        margin-top: -50px;
    }
    .slidin p {
        font-size: 18px;
    }
    .features{
        padding: 14px;
    }
    .features img {
        width: 40px;
    }
    .features h4 {
        margin-top: 20px;
        font-size: 14px;
    }
    .features p{
        font-size: 12px;
    }
    section.Interested{
        padding: 40px 0;
    }
    .Calendlywidget {
        padding: 20px;
        margin-top: 24px;
    }
    .profileRob{
        width: 100%;
    }
    .profileRob img {
        display: inline-block;
        width: 40px;
    }
    .Calendlywidget .brandName {
        font-size: 18px;
    }
    .Calendlywidget .ownerRob{
        display: inline;
        font-size: 14px;
    }
    .Calendlywidget .brandName {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .calendly-inline-widget{
        max-width: 100%;
        margin: 0;
    }
    .Interested h2,section.Team h2,section.FAQ h2 {
        font-size: 36px;
    }
    form#deckForm input {
        padding: 12px 20px;
    }
    .team-member h4 {
        font-size: 18px;
    }
    .team-member p{
        font-size: 14px;
    }
    .team-member .member {
        padding: 16px 10px;
        min-height: 300px;
    }
    .team-member.Legal .member {
        min-height: 340px;
    }
    .teamText {
        padding-bottom: 40px;
    }
    section.FAQ{
        padding: 80px 0;
    }
    section.FAQ h4.panel-title {
        font-size: 18px;
    }
    h4.panel-title::after{
        background-size: 25px;
    }
    section.FAQ h4.panel-title a{
        padding-left: 30px;
    }
    section.FAQ .panel-default > .panel-heading{
        padding: 16px;
        box-shadow: none;
    }
    section.FAQ .panel-default > .panel-heading + .panel-collapse > .panel-body{
        padding-left: 30px;
        box-shadow: none;
    }
    section.FAQ .panel-group .panel{
        box-shadow: none;
        background-color:#1e1e1e;
    }
    .incredible .btn svg {
        width: auto;
        height: 40px;
    }
    section.footerNew address {
        padding: 0;
        font-size: 14px;
        padding-top: 24px;
    }
    section.footerNew .icon{
        margin-left: 15px;
    }
    section.footerNew .icon:first-of-type {
        margin-left: 0;
    }
    section.footerNew .socialBot {
        text-align: center;
    }
    .ftLink {
        border-bottom: 1px solid #525252;
    }
    .navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    background-image: url(../images/home-v4/Burger-1.svg);
}
.navbar-default .navbar-toggle {
    border: none;
    background-image: url(../images/home-v4/Burger-1.svg);
    background-color: transparent;
    width: 50px;
    height: 40px;
    border-radius: 0;
    background-repeat: no-repeat;
    margin-right: 0;
    background-position: center;

}
body .top-bar{
    padding: 10px;
}
nav.mynav .navbar-collapse {
    padding: 0;
    position: absolute;
    background: #262626;
    width: 120%;
    box-shadow: none;
    padding-bottom: 0px;
    border: none;
    top: 60px;
    left: -30px;
    right: auto;
    border-top: 1px solid var(--Colors-Neutral-300, #404040);
}

.navbar-default .navbar-toggle .icon-bar{
    display: none !important;
}

/* FAQ page */
section.optionsFaq .nav-tabs > li > a {
    font-size: 14px;
    padding: 10px;
}
section.optionsFaq{
    padding:30px 0 0;
}
section.optionsFaq div.MTaccordion {
    padding-top: 20px;
}
.coverCta {
    padding: 24px;
    border-radius: 0;
    margin: 0 -15px;
}
section.FAQ h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.coverCta .btn {
    margin-top: 10px;
    font-size: 16px !important;
}
.coverCta p{
    font-size: 18px;
}
section.incredible{
    background-image: url(../images/home-v4/mobile/incBG-mb.png) !important;
}

section.prelaunchHero input[type="submit"],
section.prelaunchHero button[type="submit"], 
section.prelaunchHero input {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    background-image: none !important;
    padding: 12px 24px;
    height: 54px;
    font-size: 18px;
    text-align: center;
}
section.prelaunchHero {
    background-image: none !important;
}
section.prelaunchHero .heroText {
    padding: 48px 24px;
}
form.comingsoonForm {
    padding-top:70px;
}
body section.prelaunchHero .icon{
    margin: 0 1px;
}
section.prelaunchHero .socialBot{
    text-align: center;
}
#_form_5_ ._error._above,#_form_5_ ._error._above {
    bottom: auto;
    top: -50px;
}
._form-inner {
    position: relative;
}
.content-right {
    border: none;
    padding: 0;
}
.content-right h3.term-title {
    font-size: 28px;
}
.terms-and-privacy h4.term-sub-title,.conditions h4{
    font-size: 18px;
}
.conditions p,
.conditions li {
    font-size: 14px;
}
.terms-and-privacy .top-bar .logo {
    margin-top: 0;
}
.terms-and-privacy .btn-term{
    font-size: 14px;
}
section.FaqHero .heroText {
    padding: 20px;
}
ul.privacy-terms {
    display: none;
}
.mobile-dropdown {
    margin: -1px;
    background: #262626;
}
section.legal{
    padding: 40px 0;
}
.content-slider .nav-tabs > li > a {
    font-size: 14px;
    padding: 10px;
}
div#WhoIn h4 {
    margin-bottom: 40px;
    font-size: 24px;
}
.filter-btn span:not(.downangle),
.filter-btn .dropdown-toggle{
    font-size: 12px !important;
    padding:10px;
}
div#WhoIn .cont-ath h4,
.leftPlayer h4,.scout2 h5.sc-title{
    font-size: 18px;
}
.content-slider p{
    font-size: 12px;
}
.scout2 .cardSc p {
    font-size: 14px;
}
.player2 h3.player-title {
    font-size: 24px;
}
.player2 .badge-wrap {
    padding-left: 15px;
}
.player2 .badge-wrap .badge,.social-player a {
    font-size: 10px;
}
.badge-wrap .badge{
    padding: 4px;
}
.athelet-avatar {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 100%;
    min-width: 80px;
    min-height: 80px;
}
li.getstarted {
    border-top: 1px solid #404040;
}
body .top-bar .container-fluid {
    padding: 0;
}
#flipFlop iframe{
    height: 200px;
}
body .heroText {
    padding: 40px;
}
/* echedry page */
section.Hero.echedry .btn{
    width: 100%;
}

section.Hero.echedry{
    height: auto;
}
section.Hero p.progress-count,span.commision{
    font-size: 14px;
}
span.commision {
    text-align: center;
    width: 100%;
    padding: 12px 50px;
}
.stat-ratio span{
    font-size: 16px;
}
section.Hero.echedry .stat-ratio p, .stat-ratio p {
    font-size: 8px;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 400;
}
.stats{
    align-items: stretch;
}
.stat-ratio{
    padding: 12px 6px;
    min-width: 70px;
}
section.Hero.echedry .heroMedia {
    padding-top: 0;
}
.inline-athelet.echedry{
    padding: 14px 10px;
    margin: 0;
}
.inline-athelet.echedry .social-player {
    margin-top: 10px;
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
}
.inline-athelet.echedry .badge-wrap {
    padding-left: 0;
    width: 100%;
}
.inline-athelet.echedry .athelet-avatar {
    float: left;
    margin-right: 10px;
}
.badge-wrap.badge-echedry {
    clear: both;
    padding-top: 18px;
}
.social-player span{
    margin: 0 5px;
}
.badge-wrap .badge{
    margin: 2px 0;
}
video#echedryVideo_1 {
    height: 226px;
}
table.echedry-table td, table.echedry-table th {
    font-size: 12px;
}
body.echedry h3,body.echedry h1{
    font-size: 28px;
    text-align: left;
}
body.echedry p,body.echedry section.FAQ h2 {
    text-align: left;
}
body.echedry  .teamText p ,body.echedry  .team-member p{
    text-align: center;
}
body.echedry section.Team {
    padding: 40px 0;
}

body.echedry section.Hero h1 {
    font-size: 40px;
}
body.echedry  section.detailPlayer {
    padding: 64px 0 0;
}
 section.Playergallery {
    padding: 10px 0;
}
video#echedryVideo_2 {
    height: 200px;
}
.bg-gallery{
    height: 123.767px;    
}
.row.gallery-images {
    padding: 0 15px;
}
.row.gallery-images .col-xs-4 {
    padding: 0 5px;
}
body.echedry section.Diagram.no-bg h2{
    max-width: 60%;
}
body.echedry .swiperControls {
    margin-top: -60px;
}
body.echedry .swiperControls svg {
    width: 32px;
}
body.echedry .ftLink {
    border: none;
}
section.footerNew.echedry ul li a {
    padding: 5px 20px 5px 0px;
    font-weight: 500;
    font-size: 14px;
}
section.footerNew.echedry address {
    text-align: left;
    padding: 0;
}
section.footerNew.echedry p{
    font-size: 12px;
}
body.echedry section.swiperSlider {
    padding-bottom: 40px;
}
.swiperSlider.echedry p{
    font-size: 14px;
}
.swiperSlider.echedry .content p:first-of-type{
    color: #0A0A0A;
    margin-top: 10px;
    font-size: 18px;
}
.stat-eche{
    padding-bottom: 90px;
}
section.Discover.echedry .features p{
    -webkit-line-clamp: 3;
}
section.Discover.echedry .features h4 {
    height: 37px;
}
.Features-1e {
    padding-top: 0;
}
section.Discover.echedry {
    padding: 40px 0 50px 0;
}
div[id^=playButton]{
    width: 45px;    
}
.branding-finlete{
    width: 25px;
}
.time-offer-echedry {
    padding: 24px 0;
}
.buyft,.timer-eche{
    width: 100%;
}
.timer-eche div {
    flex: 25%;
}
.buyft .btn {
    display: block;
    width: 100%;
    margin-top: 13px;
}
.timer-eche div span{
    font-size: 18px;
}

}


