body,html{
    font-family: 'Inter', sans-serif;
    overflow-x:hidden; 
    scroll-behavior: smooth;
    background: #fff;
    height: 100%;
}
header.for-signup {
    padding: 16px 24px;
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px -7px 133px rgb(102 102 102 / 9%), 0px -2.1103px 40.0956px rgb(102 102 102 / 6%), 0px -0.876509px 16.6537px rgb(102 102 102 / 5%), 0px -0.317016px 6.0233px rgb(102 102 102 / 3%);
    z-index: 99;
}
header.for-signup .logo {
    float: left;
}
header.for-signup .btn.finbtn{
    padding: 12px 20px;
    width: 99px;
    height: 49px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #404040;
    border-radius: 16px;
    display: inline-block;
    float: right;
}
header.for-signup .btn.finbtn:hover{
    color: #059C69;
}
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    color: #404040;
}
p {
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #5A5A5A;
}
#goback {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #404040;
    margin-top: 26px;
    display: block;
    background-image: url(../images/arrow_back.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 18px;
    background-position: left center;
}
.waitlistform {
    padding: 80px;
}
.waitlistform ul {
    position: fixed;
    bottom: 0;
}
.waitlistform ul{
    padding: 0;
    list-style: none;
    padding-top: 100px;
}
.waitlistform ul li {
    display: inline-block;
}
.waitlistform ul li a {
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: #404040;
    display: block;
    padding: 10px 10px 10px 0;
}
.baseball {
    background-image: url(../images/baseball.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    position: absolute;
    height: 100%;
    width: 45%;
    right: 0;
    top: 0;
    display: none;
}
.thanks {
    padding-top: 100px;
}
.thanksbg{
     background-image: url(../images/thanksbg.png);
}
.text {
    padding: 0 30px;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: auto;
}
.text h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: #FFFFFF;
}

form#_form_5_ {
    margin-top: 40px;
}
 #_form_5_ * {
     outline:0;
}
 ._form_hide {
     display:none;
     visibility:hidden;
}
 ._form_show {
     display:block;
     visibility:visible;
}
 #_form_5_._form-top {
     top:0;
}
 #_form_5_._form-bottom {
     bottom:0;
}
 #_form_5_._form-left {
     left:0;
}
 #_form_5_._form-right {
     right:0;
}
 #_form_5_ input[type="text"],#_form_5_ input[type="date"],#_form_5_ textarea {
     padding:6px;
     height:auto;
     border:#979797 1px solid;
     border-radius:4px;
     color:#000 !important;
     font-size:14px;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
}
 #_form_5_ textarea {
     resize:none;
}
 #_form_5_ ._submit {
     -webkit-appearance: none;
     cursor: pointer;
     font-size: 24px;
     text-align: center;
     background: #059c69 !important;
     border: 0 !important;
     -moz-border-radius: 4px !important;
     color: #fff !important;
     padding:15px;
     border-radius: 12px;
     line-height: normal;
     width: 100%;
    font-weight: 500;
    margin-top: 24px;
}
 #_form_5_ ._close-icon {
     cursor:pointer;
     background-image:url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
     background-repeat:no-repeat;
     background-size:14.2px 14.2px;
     position:absolute;
     display:block;
     top:11px;
     right:9px;
     overflow:hidden;
     width:16.2px;
     height:16.2px;
}
 #_form_5_ ._close-icon:before {
     position:relative;
}
 #_form_5_ ._form-body {
     margin-bottom:30px;
}
 #_form_5_ ._form-image-left {
     width:150px;
     float:left;
}
 #_form_5_ ._form-content-right {
     margin-left:164px;
}
 #_form_5_ ._form-branding {
     color:#fff;
     font-size:10px;
     clear:both;
     text-align:left;
     margin-top:30px;
     font-weight:100;
}
 
 #_form_5_ .form-sr-only {
     position:absolute;
     width:1px;
     height:1px;
     padding:0;
     margin:-1px;
     overflow:hidden;
     clip:rect(0, 0, 0, 0);
     border:0;
}
 #_form_5_ ._form-label,#_form_5_ ._form_element ._form-label {
     font-weight:bold;
     margin-bottom:5px;
     display:block;
}

 #_form_5_ ._form_element {
     position:relative;
     margin-bottom:10px;
     font-size:0;
     max-width:100%;
}
 #_form_5_ ._form_element * {
     font-size:14px;
}
 #_form_5_ ._form_element._clear {
     clear:both;
     width:100%;
     float:none;
}
 #_form_5_ ._form_element._clear:after {
     clear:left;
}
 #_form_5_ ._form_element input[type="text"],#_form_5_ ._form_element input[type="date"],#_form_5_ ._form_element select,#_form_5_ ._form_element textarea:not(.g-recaptcha-response) {
     display:block;
     width:100%;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
     font-family:inherit;
    padding: 12px 16px;
     height: 53px;
     background: #FFFFFF;
     border: 1px solid #9A9A9A;
     border-radius: 12px;
     font-family: inherit;
}
 #_form_5_ ._field-wrapper {
     position:relative;
}
 #_form_5_ ._inline-style {
     float:left;
}
 #_form_5_ ._inline-style input[type="text"] {
     width:150px;
}
 #_form_5_ ._inline-style:not(._clear) + ._inline-style:not(._clear) {
     margin-left:20px;
}
 #_form_5_ ._form_element img._form-image {
     max-width:100%;
}
 #_form_5_ ._form_element ._form-fieldset {
     border:0;
     padding:0.01em 0 0 0;
     margin:0;
     min-width:0;
}
 #_form_5_ ._clear-element {
     clear:left;
}
 #_form_5_ ._full_width {
     width:100%;
}
 #_form_5_ ._form_full_field {
     display:block;
     width:100%;
     margin-bottom:10px;
}
 #_form_5_ input[type="text"]._has_error,#_form_5_ textarea._has_error {
     border:#f37c7b 1px solid;
}
 #_form_5_ input[type="checkbox"]._has_error {
     outline:#f37c7b 1px solid;
}
 #_form_5_ ._error {
     display:block;
     position:absolute;
     font-size:14px;
     z-index:10000001;
}
 #_form_5_ ._error._above {
     padding-bottom:4px;
     bottom:39px;
     right:0;
}
 #_form_5_ ._error._below {
     padding-top:4px;
     top:100%;
     right:0;
}
 #_form_5_ ._error._above ._error-arrow {
     bottom:0;
     right:15px;
     border-left:5px solid transparent;
     border-right:5px solid transparent;
     border-top:5px solid #f37c7b;
}
 #_form_5_ ._error._below ._error-arrow {
     top:0;
     right:15px;
     border-left:5px solid transparent;
     border-right:5px solid transparent;
     border-bottom:5px solid #f37c7b;
}
 #_form_5_ ._error-inner {
     padding:8px 12px;
     background-color:#f37c7b;
     font-size:14px;
     font-family:arial, sans-serif;
     color:#fff;
     text-align:center;
     text-decoration:none;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius:4px;
}
 #_form_5_ ._error-inner._form_error {
     margin-bottom:5px;
     text-align:left;
}
 #_form_5_ ._button-wrapper ._error-inner._form_error {
     position:static;
}
 #_form_5_ ._error-inner._no_arrow {
     margin-bottom:10px;
}
 #_form_5_ ._error-arrow {
     position:absolute;
     width:0;
     height:0;
}
 #_form_5_ ._error-html {
     margin-bottom:10px;
}
 .pika-single {
     z-index:10000001 !important;
}
 #_form_5_ input[type="text"].datetime_date {
     width:69%;
     display:inline;
}
 #_form_5_ select.datetime_time {
     width:29%;
     display:inline;
     height:32px;
}
 #_form_5_ input[type="date"].datetime_date {
     width:69%;
     display:inline-flex;
}
 #_form_5_ input[type="time"].datetime_time {
     width:29%;
     display:inline-flex;
}


 #_form_5_._inline-form,#_form_5_._inline-form ._form-content,#_form_5_._inline-form input,#_form_5_._inline-form ._submit {
      font-family: 'Inter', sans-serif;
}
#_form_5_ ._form-title {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #404040;
}
 #_form_5_:before,#_form_5_:after {
     content:" ";
     display:table;
}
 #_form_5_:after {
     clear:both;
}
 #_form_5_._inline-style {
     width:auto;
     display:inline-block;
}
 #_form_5_._inline-style input[type="text"],#_form_5_._inline-style input[type="date"] {
     padding:10px 12px;
}
 #_form_5_._inline-style button._inline-style {
     position:relative;
     top:27px;
}
 #_form_5_._inline-style p {
     margin:0;
}
 #_form_5_._inline-style ._button-wrapper {
     position:relative;
     margin:27px 12.5px 0 20px;
}
 #_form_5_ ._form-thank-you {
     position:relative;
     left:0;
     right:0;
     text-align:center;
     font-size:18px;
}
/*Sign up form*/
.signupform label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #404040;
}
.signup h1{
    margin-bottom: 40px;
}
.signup input.form-control {
    padding: 17px 20px;
    height: 63px;
    border: 1px solid #9A9A9A;
    width: 100%;
    border-radius: 12px;
}
.signup .form-group {
    margin-bottom: 24px;
}
.signupform label a{
   color:#059C69;
}
.signupbg {
    background-image: url(../images/signupbg.png);
}
.signupform input.btn.submitbtn {
    padding: 15px 20px;
    width: 100%;
    height: 64px;
    background: #059C69;
    border-radius: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom:24px;
}
.signupform input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin: 0;
    vertical-align: middle;
}
span.visibility_off {
    background-color: transparent;
    background-image: url(../images/visibility_off.svg);
    background-size: auto;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 30px;
    background-repeat: no-repeat;
    display: block;
    top: 50%;
    background-position: center;
}
span.visibility_off.in{
    background-image: url(../images/visibility_on.svg);
} 

@media all and (min-width:2048px) {
   .waitlistform {
        padding: 200px;
    }
}

@media all and (min-width:768px) {
    .baseball{
        display: block;
    }

}
@media all and (min-width:1700px) and (max-width:1921px) {
   .waitlistform {
        padding: 130px;
    }
}

@media all and (max-width:767px) {

.waitlistform {
    padding: 30px;
}
h1{
    font-size: 32px;
}
p{
    font-size: 16px;
}


}